<template>
  <div id="jumbotron">
    <div id="container">
      <div class="vcentered">
        <img class="logo" src="static/protocube-logo.png">
        <img class="logo" src="static/cpit2-logo.png">
        <div id="title-2" class="vcentered"><span>Alla scoperta delle WebAPI</span></div>
        <span id="title-3">Luca Martini</span>
      </div>
      <p id="title-1">{{ title }}</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: 'Welcome'
    }
  },

  created() {
    this.$root.$on('titleUpdate', title => {
      this.title = title
    })
  }
}
</script>

<style scoped>
#jumbotron {
  color: #fff;
  background-image: url('../../static/gradient.png');
  background-size: cover;
}

#container {
  padding: 35px 10%;
}

.vcentered {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 75px;
}

#title-1 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 0;
}

#title-2 {
  width: 50%;
  height: 40px;
  border-left: 1px solid white;
  padding-left: 20px;
  font-size: 22px;
}

#title-3 {
  width: 50%;
  text-align: right;
  font-size: 20px;
}
</style>