<template>
  <ul id="menu">
    <li v-for="(api, index) of apis" :key="index">
      <div v-if="api.title === active" class="arrow"></div>
      <router-link :class="{ active: api.title === active, disabled: !api.isSupported }" :to="api.component" @click.native="setActive(api.title)">{{ api.title }}</router-link>
    </li>
  </ul>
</template>

<script>
export default {
  data() {
    return {
      active: null,
      apis: [
        {
          component: 'AmbientLightSensorExploit',
          title: 'Ambient Light Sensor Exploit',
          isSupported: true
        },
        {
          component: 'BatteryStatus',
          title: 'Battery Status',
          isSupported:
            document.addEventListener !== undefined &&
            ('getBattery' in navigator ||
              ('battery' in navigator && 'Promise' in window))
        },
        {
          component: 'DeviceOrientation',
          title: 'Device Orientation',
          isSupported: 'DeviceOrientationEvent' in window
        },
        {
          component: 'IndexedDB',
          title: 'IndexedDB',
          isSupported: 'indexedDB' in window
        },
        {
          component: 'NavigatorOnline',
          title: 'Navigator OnLine',
          isSupported:
            document.addEventListener !== undefined && 'onLine' in navigator
        },
        {
          component: 'PageVisibility',
          title: 'Page Visibility',
          isSupported:
            document.addEventListener !== undefined &&
            (document.hidden !== undefined ||
              document.msHidden !== undefined ||
              document.webkitHidden !== undefined)
        },
        {
          component: 'ShapeDetection',
          title: 'Shape Detection',
          isSupported:
            'FaceDetector' in window &&
            'TextDetector' in window &&
            'BarcodeDetector' in window
        },
        {
          component: 'SpeechRecognition',
          title: 'Speech Recognition',
          isSupported:
            'SpeechRecognition' in window || 'webkitSpeechRecognition' in window
        },
        {
          component: 'SpeechSynthesis',
          title: 'Speech Synthesis',
          isSupported: 'speechSynthesis' in window
        }
      ]
    }
  },

  methods: {
    setActive(title) {
      this.active = title
      document.title = title

      this.$root.$emit('titleUpdate', title)
    }
  }
}
</script>

<style scoped>
#menu li {
  list-style-type: none;
}

a:link,
a:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 120px;
  margin-bottom: 6px;
  padding: 3px 23px;
  color: white;
  background-color: #d8d8d8;
  text-align: center;
  text-decoration: none;
  word-wrap: break-word;
}

a:hover,
a:active {
  background-color: #d74e93;
}

.active {
  background-color: #d74e93 !important;
}

.arrow {
  position: relative;
  top: 34px;
  margin-top: -10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
}

.disabled {
  pointer-events: none;
  text-decoration: line-through !important;
}
</style>