<template>
  <div v-if="battery">
    <p><strong>charging:</strong> {{ battery.charging }}</p>
    <p><strong>level:</strong> {{ battery.level }}</p>
    <p><strong>chargingTime:</strong> {{ battery.chargingTime }}</p>
    <p><strong>dischargingTime:</strong> {{ battery.dischargingTime }}</p>
    <battery-charging-icon v-if="battery.charging" class="icon"/>
    <battery-icon v-else class="icon"/>
  </div>
</template>

<script>
import BatteryIcon from 'vue-material-design-icons/battery'
import BatteryChargingIcon from 'vue-material-design-icons/battery-charging'

export default {
  components: {
    BatteryIcon,
    BatteryChargingIcon
  },

  data() {
    return {
      battery: null
    }
  },

  async created() {
    const battery = await navigator.getBattery()

    this.battery = {
      charging: battery.charging,
      level: battery.level,
      chargingTime: this.seconds2toHHmmss(battery.chargingTime),
      dischargingTime: this.seconds2toHHmmss(battery.dischargingTime)
    }

    battery.addEventListener('chargingchange', () => {
      this.battery.charging = battery.charging
    })

    battery.addEventListener('levelchange', () => {
      this.battery.level = battery.level
    })

    battery.addEventListener('chargingtimechange', () => {
      this.battery.chargingTime = this.seconds2toHHmmss(battery.chargingTime)
    })

    battery.addEventListener('dischargingtimechange', () => {
      this.battery.dischargingTime = this.seconds2toHHmmss(
        battery.dischargingTime
      )
    })
  },

  methods: {
    seconds2toHHmmss(duration) {
      if (duration === Infinity) {
        return duration
      }

      const date = new Date(null)
      date.setSeconds(duration)

      return date.toISOString().substr(11, 8)
    }
  }
}
</script>

<style>
.icon {
  font-size: 300px;
}
</style>