<template>
  <div ref="container">
    <p>Click or touch the 3d model to toggle fullscreen mode</p>
  </div>
</template>

<script>
import * as THREE from 'three'
import * as FBXLoader from 'three-fbx-loader'

const CANVAS_WIDTH = 600
const CANVAS_HEIGHT = 300

const QUATERNION_0 = new THREE.Quaternion(-Math.sqrt(0.5), 0, 0, Math.sqrt(0.5))
const Z_AXIS = new THREE.Vector3(0, 0, 1)

export default {
  data() {
    return {
      scene: new THREE.Scene(),
      camera: new THREE.PerspectiveCamera(
        45,
        CANVAS_WIDTH / CANVAS_HEIGHT,
        1,
        2000
      ),
      renderer: new THREE.WebGLRenderer(),
      fullscreen: false,
      orientation: 0,
      canvas: null,
      monkey: null
    }
  },

  created() {
    this.camera.position.z = 1000

    const light = new THREE.PointLight(0xff00ff, 1, 5000)
    light.position.set(0, 500, 500)

    this.scene.add(light)

    const loader = new FBXLoader()

    loader.load('static/monkey.fbx', monkey => {
      this.monkey = monkey

      this.scene.add(monkey)
    })

    this.renderer.setSize(CANVAS_WIDTH, CANVAS_HEIGHT)
    this.renderer.setClearColor('#fff')

    this.canvas = this.renderer.domElement

    this.canvas.onclick = () => {
      this.fullscreen = !this.fullscreen

      this.updateCanvasSize()
    }

    window.addEventListener('deviceorientation', event => {
      const alpha = event.alpha ? THREE.Math.degToRad(event.alpha) : 0
      const beta = event.beta ? THREE.Math.degToRad(event.beta) : 0
      const gamma = event.gamma ? THREE.Math.degToRad(event.gamma) : 0
      const orientation = this.orientation
        ? THREE.Math.degToRad(this.orientation)
        : 0

      this.setQuaternion(
        this.monkey.quaternion,
        alpha,
        beta,
        gamma,
        orientation
      )
    })

    window.addEventListener('orientationchange', () => {
      this.orientation = window.orientation || 0

      this.updateCanvasSize()
    })
  },

  mounted() {
    this.$refs.container.appendChild(this.canvas)

    this.render()
  },

  methods: {
    render() {
      requestAnimationFrame(this.render)

      this.renderer.render(this.scene, this.camera)
    },

    setQuaternion(quaternion, alpha, beta, gamma, orientation) {
      quaternion.setFromEuler(new THREE.Euler().set(beta, alpha, -gamma, 'YXZ'))

      quaternion.multiply(QUATERNION_0)

      quaternion.multiply(
        new THREE.Quaternion().setFromAxisAngle(Z_AXIS, -orientation)
      )
    },

    updateCanvasSize() {
      let width = null
      let height = null

      if (this.fullscreen) {
        this.canvas.style.position = 'fixed'

        this.canvas.style.top = 0
        this.canvas.style.left = 0
        this.canvas.style.width = '100vw'
        this.canvas.style.height = '100vh'

        width = this.canvas.clientWidth
        height = this.canvas.clientHeight
      } else {
        this.canvas.style.position = 'relative'

        width = CANVAS_WIDTH
        height = CANVAS_HEIGHT
      }

      this.camera.aspect = width / height
      this.camera.updateProjectionMatrix()

      this.renderer.setSize(width, height)
    }
  }
}
</script>
