<template>
  <div>
    <br>
    <textarea ref="query" v-model="query" id="text" cols="50" rows="1" placeholder="Insert your GIF query terms"></textarea><br>
    <button id="search" type="button" class="btn-primary" :class="{ 'btn-disabled': query.length === 0 }" :disabled="query.length === 0" @click="search">search</button><br><br>
    <h4>History</h4>
    <p v-if="gifs.length === 0">Your GIF search history is empty</p>
    <div v-else id="gif-history">
      <div v-for="(gif, index) of gifs.filter(gif => gif.pending === 0)" :key="index">
        <img :src="gif.url" :height="gif.height" :width="gif.width"/><br><br>
        <div class="gif-wrapper" :style="{ width: `${gif.width}px` }">
          <span><i>{{ gif.query }}</i></span>
          <button type="button" class="btn-minor-2" @click="deleteGif(gif.id)"><delete-icon class="icon"/></button>
        </div>
        <p>{{ new Date(gif.timestamp).toISOString() }}</p>
      </div>
    </div>
    <button v-if="gifs.length > 0" class="btn-minor-1" type="button" :disabled="gifs.length === 0" @click="clearHistory">clear</button>
    <br><br><br>
    <span>Pending: <span>{{ pendingGifs || 'No pending requests found' }}</span></span><br>
  </div>
</template>

<script>
import DeleteIcon from 'vue-material-design-icons/delete'
import { GIPHY_API_KEY } from '../GIPHY_API_KEY.json'

const GIF_KEY_PATH = 'id'
const IDB_NAME = 'CPIT2-test'
const IDB_VERSION = 1
const IDB_STORE_NAME = 'gif-history'
const NOT_FOUND_GIF = {
  url: 'https://media2.giphy.com/media/8L0Pky6C83SzkzU55a/100.gif',
  width: 100,
  height: 100
}

export default {
  components: {
    DeleteIcon
  },

  data() {
    return {
      idb: null,
      query: '',
      gifs: []
    }
  },

  computed: {
    pendingGifs() {
      return this.gifs
        .filter(gif => gif.pending === 1)
        .map(gif => gif.query)
        .join(',')
    }
  },

  created() {
    const request = indexedDB.open(IDB_NAME, IDB_VERSION)

    request.onerror = event => {
      console.error('Error loading database')
    }

    request.onsuccess = async event => {
      this.idb = event.target.result

      this.idb.onerror = event => {
        console.error(`IndexedDB error: ${event.target.errorCode}`)
      }

      this.gifs = await this.getGifs()
    }

    request.onupgradeneeded = async event => {
      this.idb = event.target.result

      const store = this.idb.createObjectStore(IDB_STORE_NAME, {
        keyPath: GIF_KEY_PATH,
        autoIncrement: true
      })

      store.createIndex('query', 'query', { unique: false })

      store.createIndex('timestamp', 'timestamp', { unique: false })

      store.createIndex('pending', 'pending', { unique: false })

      store.createIndex('width', 'width', { unique: false })

      store.createIndex('height', 'height', { unique: false })

      store.createIndex('url', 'url', { unique: false })

      this.gifs = await this.getGifs()
    }

    window.addEventListener('online', async () => {
      for (let gif of await this.getGifs()) {
        await this.fetchGif(gif)
      }

      this.gifs = await this.getGifs()
    })
  },

  methods: {
    getObjectStore(name, mode) {
      return this.idb.transaction(name, mode).objectStore(name)
    },

    clearObjectStore(name, mode) {
      this.getObjectStore(name, mode).clear()
    },

    clearHistory() {
      this.clearObjectStore(IDB_STORE_NAME, 'readwrite')

      this.gifs = []
    },

    async deleteGif(id) {
      this.getObjectStore(IDB_STORE_NAME, 'readwrite').delete(id)

      this.gifs = await this.getGifs()
    },

    getGifs(cursorRange) {
      const gifs = []
      const store = this.getObjectStore(IDB_STORE_NAME, 'readonly')
      const index = store.index('pending')

      return new Promise((resolve, reject) => {
        index.openCursor(cursorRange).onsuccess = event => {
          const cursor = event.target.result

          if (cursor) {
            gifs.push(cursor.value)

            cursor.continue()
          } else {
            resolve(gifs)
          }
        }
      })
    },

    search() {
      const gif = {
        query: this.query,
        timestamp: new Date().getTime(),
        pending: 1,
        url: null,
        width: null,
        height: null
      }

      const store = this.getObjectStore(IDB_STORE_NAME, 'readwrite')
      const request = store.add(gif)

      request.onsuccess = async event => {
        gif[GIF_KEY_PATH] = event.target.result

        if (navigator.onLine) {
          await this.fetchGif(gif)
        }

        this.gifs = await this.getGifs()
      }

      this.query = ''

      this.$refs.query.focus()
    },

    async fetchGif(gif) {
      try {
        const res = await this.axios.get(
          'http://api.giphy.com/v1/gifs/search',
          {
            params: {
              api_key: GIPHY_API_KEY,
              q: gif.query,
              limit: 1
            }
          }
        )

        if (res.data.data.length > 0) {
          gif.url = res.data.data[0].images.fixed_height_small.url
          gif.width = res.data.data[0].images.fixed_height_small.width
          gif.height = res.data.data[0].images.fixed_height_small.height
        } else {
          gif.url = NOT_FOUND_GIF.url
          gif.width = NOT_FOUND_GIF.width
          gif.height = NOT_FOUND_GIF.width
        }

        gif.pending = 0

        const store = this.getObjectStore(IDB_STORE_NAME, 'readwrite')
        const request = store.put(gif)
      } catch (err) {
        console.error(err.message)
      }
    }
  }
}
</script>

 <style scoped>
#search {
  margin-left: 15px;
}

#gif-history {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.gif-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  font-size: 15px;
}
</style>