<template>
  <div>
    <p><strong>online:</strong> {{ online }}</p>
    <img id="navigator-img" :src="`static/${online ? 'online' : 'offline'}.gif`" width="600">
  </div>
</template>

<script>
export default {
  data() {
    return {
      online: navigator.onLine
    }
  },

  created() {
    window.addEventListener('online', () => {
      this.online = true
    })

    window.addEventListener('offline', () => {
      this.online = false
    })
  }
}
</script>
