<template>
  <div>
    <br>
    <youtube :video-id="video.id" :player-vars="{ autoplay: 1 }" @ready = "ready"></youtube>
  </div>
</template>

<script>
import Vue from 'vue'
import VueYoutubeEmbed from 'vue-youtube-embed'

Vue.use(VueYoutubeEmbed)

const BLACK_RIGHT_POINTING_TRIANGLE_CHAR = '\u25B6'
const MEDIUM_VERTICAL_BAR_CHAR = '\u2759'

export default {
  data() {
    return {
      player: null,
      video: { id: 'G1IbRujko-A', title: null }
    }
  },

  created() {
    // Set the name of the hidden property and the change event for visibility
    let hidden = null
    let visibilityChange = null
    if (document.hidden !== undefined) {
      hidden = 'hidden'
      visibilityChange = 'visibilitychange'
    } else if (document.msHidden !== undefined) {
      hidden = 'msHidden'
      visibilityChange = 'msvisibilitychange'
    } else if (document.webkitHidden !== undefined) {
      hidden = 'webkitHidden'
      visibilityChange = 'webkitvisibilitychange'
    }

    document.addEventListener(
      visibilityChange,
      () => {
        if (document[hidden]) {
          this.player.pauseVideo()
          document.title = `${MEDIUM_VERTICAL_BAR_CHAR}${MEDIUM_VERTICAL_BAR_CHAR} ${
            this.video.title
          }`
        } else {
          this.player.playVideo()
          document.title = `${BLACK_RIGHT_POINTING_TRIANGLE_CHAR} ${
            this.video.title
          }`
        }
      },
      false
    )
  },

  methods: {
    ready(player) {
      this.player = player
      this.video.title = this.player.getVideoData().title
      document.title =
        BLACK_RIGHT_POINTING_TRIANGLE_CHAR + ' ' + this.video.title
    }
  }
}
</script>
