<template>
  <div>
    <br>
    <input type="file" accept="image/*" @change="loadImage"/><br/><br/>
    <img v-show="showImage" ref="image" width="600" @load="detect"/>
    <canvas v-show="!showImage" ref="canvas"/>
    <p v-for="(barcodeValue, index) of barcodeValues" :key="index"><strong>{{ index + 1 }}:</strong> <a :href="barcodeValue">{{ barcodeValue }}</a></p>
    <br/>
  </div>
</template>

<script>
const LINE_WIDTH = 2
const FACE_LINE_COLOR = 'orange'
const TEXT_LINE_COLOR = 'fuchsia'
const BARCODE_LINE_COLOR = 'red'

export default {
  data() {
    return {
      barcodeDetector: null,
      faceDetector: null,
      textDetector: null,
      barcodeValues: [],
      showImage: true
    }
  },

  created() {
    this.barcodeDetector = new BarcodeDetector()
    this.faceDetector = new FaceDetector()
    this.textDetector = new TextDetector()
  },

  methods: {
    loadImage(event) {
      const fr = new FileReader()

      fr.onload = event => {
        this.$refs.image.src = event.target.result

        this.barcodeValues = []
        this.showImage = true
      }

      fr.readAsDataURL(event.target.files[0])
    },

    detectFeature(detector) {
      return new Promise((resolve, reject) => {
        detector
          .detect(this.$refs.image)
          .then(texts => {
            resolve(texts)
          })
          .catch(err => {
            reject(err)
          })
      })
    },

    drawFeatureBBoxes(features, ctx) {
      const scale = this.$refs.canvas.width / this.$refs.image.naturalWidth

      for (let i = 0; i < features.length; i++) {
        ctx.rect(
          Math.floor(features[i].boundingBox.x * scale),
          Math.floor(features[i].boundingBox.y * scale),
          Math.floor(features[i].boundingBox.width * scale),
          Math.floor(features[i].boundingBox.height * scale)
        )

        if (features[i] instanceof DetectedBarcode) {
          ctx.font = `20px Arial`
          ctx.fillStyle = BARCODE_LINE_COLOR
          ctx.fillText(
            i + 1,
            features[i].boundingBox.x * scale,
            features[i].boundingBox.y * scale - 15
          )

          this.barcodeValues.push(features[i].rawValue)
        }

        ctx.stroke()
      }
    },

    async detect() {
      this.$refs.canvas.width = this.$refs.image.width
      this.$refs.canvas.height = this.$refs.image.height

      const ctx = this.$refs.canvas.getContext('2d')
      ctx.lineWidth = LINE_WIDTH

      ctx.drawImage(
        this.$refs.image,
        0,
        0,
        this.$refs.image.naturalWidth,
        this.$refs.image.naturalHeight,
        0,
        0,
        this.$refs.canvas.width,
        this.$refs.canvas.height
      )

      const faces = await this.detectFeature(this.faceDetector)
      console.log(faces)
      if (faces.length > 0) {
        ctx.beginPath()
        ctx.strokeStyle = FACE_LINE_COLOR

        this.drawFeatureBBoxes(faces, ctx)
      }

      const texts = await this.detectFeature(this.textDetector)
      console.log(texts)
      if (texts.length > 0) {
        ctx.beginPath()
        ctx.strokeStyle = TEXT_LINE_COLOR

        this.drawFeatureBBoxes(texts, ctx)
      }

      const barcodes = await this.detectFeature(this.barcodeDetector)
      console.log(barcodes)
      if (barcodes.length > 0) {
        ctx.beginPath()
        ctx.strokeStyle = BARCODE_LINE_COLOR

        this.drawFeatureBBoxes(barcodes, ctx)
      }

      this.showImage = false
    }
  }
}
</script>
