<template>
  <div>
    <br>
    <textarea v-model="text" id="text" cols="50" rows="1" readonly></textarea><br>
    <button id="start" type="button" class="btn-primary" :class="{ 'btn-waiting': recognizing }" :disabled="recognizing" @click="startRecognition">register</button>
    <br><br><br><br><br>
    <div id="search-results">
      <img v-for="(gif, index) of gifs.data" :key="index" :src="gif.images.fixed_height_small.url" :height="gif.images.fixed_height_small.height" :width="gif.images.fixed_height_small.width"/>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)

import { GIPHY_API_KEY } from '../GIPHY_API_KEY.json'

export default {
  data() {
    return {
      recognizing: false,
      recognition: null,
      text: '',
      gifs: [],
      colors: [
        'aqua',
        'azure',
        'beige',
        'bisque',
        'black',
        'blue',
        'brown',
        'chocolate',
        'coral',
        'crimson',
        'cyan',
        'fuchsia',
        'ghostwhite',
        'gold',
        'goldenrod',
        'gray',
        'green',
        'indigo',
        'ivory',
        'khaki',
        'lavender',
        'lime',
        'linen',
        'magenta',
        'maroon',
        'moccasin',
        'navy',
        'olive',
        'orange',
        'orchid',
        'peru',
        'pink',
        'plum',
        'purple',
        'red',
        'salmon',
        'sienna',
        'silver',
        'snow',
        'tan',
        'teal',
        'thistle',
        'tomato',
        'turquoise',
        'violet',
        'white',
        'yellow'
      ]
    }
  },

  created() {
    const grammar =
      '#JSGF V1.0; grammar colors; public <color> = ' +
      this.colors.join(' | ') +
      ' ;'

    const SpeechRecognition = SpeechRecognition || webkitSpeechRecognition
    const SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList
    const SpeechRecognitionEvent =
      SpeechRecognitionEvent || webkitSpeechRecognitionEvent

    const speechRecognitionList = new SpeechGrammarList()
    speechRecognitionList.addFromString(grammar, 1)

    this.recognition = new SpeechRecognition()
    // N.B.: grammars are not supported in Chrome, it uses a free-form recognition
    this.recognition.grammars = speechRecognitionList
    this.recognition.lang = 'en-US'
    this.recognition.interimResults = false
    this.recognition.maxAlternatives = 1

    this.recognition.onresult = async event => {
      const last = event.results.length - 1
      const color = event.results[last][0].transcript
      const confidence = event.results[0][0].confidence
      this.text = `${color} (${confidence.toFixed(2)})\n`

      try {
        const res = await this.axios.get(
          'http://api.giphy.com/v1/gifs/search',
          {
            params: {
              api_key: GIPHY_API_KEY,
              q: color,
              limit: 9
            }
          }
        )

        this.gifs = res.data
      } catch (err) {
        console.error(err.message)

        this.stopRecognition()
      }

      document.body.style.backgroundColor = color
    }

    this.recognition.onspeechend = () => {
      this.stopRecognition()
    }

    this.recognition.onnomatch = event => {
      console.error(`Couldn't recognize any color`)
    }

    this.recognition.onerror = event => {
      console.error(`Error occurred in recognition: ${event.error}`)
    }
  },

  methods: {
    startRecognition() {
      this.recognition.start()
      this.recognizing = true
    },

    stopRecognition() {
      this.recognition.stop()
      this.recognizing = false
    }
  }
}
</script>

<style scoped>
#text {
  display: block;
}

#start {
  margin-left: 15px;
}

#search-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
</style>