<template>
  <div>
    <br>
    <textarea name="text" v-model="text" cols="50" rows="4"></textarea><br>
    <button id="speak" type="button" class="btn-primary" :class="{ 'btn-waiting': speaking }" :disabled="text.length === 0 || speaking" @click="speak">speak</button>
    <br><br><br><br><br>
    <div class="floating">
      <label for="language">Language</label><br><br>
      <select name="language" v-model="selectedLanguage">
        <option v-for="(language, index) of languages" :key="index" :value="language">
          {{ language }}
        </option>
      </select>
    </div>
    <div>
      <label for="range">Pitch</label><br><br>
      <input name="pitch" type="range" min="0" max="2" step="0.1" v-model="pitch"><br><br>
    </div>
    <br><br>
    <div class="floating">
      <label for="voice">Voice</label><br><br>
      <select name="voice" v-model="selectedVoiceName">
        <option v-for="(voice, index) of selectedLanguageVoices" :key="index" :value="voice.name">
          {{ voice.name }} {{ voice.lang }}
        </option>
      </select>
    </div>
    <div>
      <label for="rate">Rate</label><br><br>
      <input name="rate" type="range" min="0.1" max="10" step="0.1" v-model="rate"><br><br>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      text: 'Benvenuti a Giurassic Park',
      // text: 'Annuncio cancellazione treno. Il treno regionale delle ore 19 e 01 per Fossano, oggi non sarà effettuato.',
      pitch: 1,
      rate: 1,
      synth: null,
      speaking: false,
      speakingInterval: null,
      voices: [],
      selectedLanguage: null,
      selectedVoiceName: null
    }
  },

  computed: {
    languages() {
      return this.voices
        .filter((x, i) => this.voices.findIndex(y => y.lang === x.lang) === i)
        .map(x => x.lang)
    },

    selectedLanguageVoices() {
      return this.voices.filter(x => x.lang === this.selectedLanguage)
    }
  },

  watch: {
    languages(newLanguages) {
      this.selectedLanguage = newLanguages[0]
    },

    selectedLanguageVoices(newSelectedLanguageVoices) {
      this.selectedVoiceName =
        newSelectedLanguageVoices.length > 0
          ? newSelectedLanguageVoices[0].name
          : null
    }
  },

  created() {
    this.synth = window.speechSynthesis

    // workaround due to the fact that JSON.stringify(window.speechSynthesis) is "{}"
    this.speakingInterval = setInterval(() => {
      this.speaking = this.synth.speaking
    }, 500)

    this.loadVoices()
  },

  destroyed() {
    clearInterval(this.speakingInterval)
  },

  methods: {
    // voices are not loaded immediately, wait for chrome to have them ready
    loadVoices() {
      if (this.synth.getVoices().length !== 0) {
        this.voices = this.synth.getVoices()
      } else {
        setTimeout(this.loadVoices, 1000)
      }
    },

    speak() {
      this.synth.cancel()

      const ssu = new SpeechSynthesisUtterance(this.text)
      ssu.voice = this.selectedLanguageVoices.find(
        x => x.name === this.selectedVoiceName
      )

      ssu.pitch = this.pitch
      ssu.rate = this.rate

      this.synth.speak(ssu)
    }
  }
}
</script>

<style scoped>
#speak {
  margin-left: 15px;
}

.floating {
  width: 300px;
  float: left;
}
</style>
