<template>
  <div id="app">
    <api-header></api-header>
    <div id="container">
      <router-view id="content"/>
      <api-menu id="menu"></api-menu>
    </div>
  </div>
</template>

<script>
import ApiHeader from '@/components/ApiHeader'
import ApiMenu from '@/components/ApiMenu'

export default {
  name: 'App',
  components: {
    ApiHeader,
    ApiMenu
  }
}
</script>

<style>
body {
  margin: 0;
}

#app {
  font-family: ProximaNova, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #707070;
}

.btn-primary {
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-image: url('../static/gradient.png');
  background-size: cover;
  border: 0;
  border-radius: 20px;
  padding: 0 20px;
  line-height: 30px;
}

.btn-minor-1 {
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  background-color: #b4b4b4;
  border-radius: 10px;
  padding: 2px 20px;
}

.btn-minor-2 {
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  background-color: #b4b4b4;
  border-radius: 10px;
  padding: 0 20px;
}

.btn-primary:focus,
.btn-minor-1:focus,
.btn-minor-2:focus {
  outline: none;
}

.btn-disabled {
  background-image: none;
  background-color: #b4b4b4;
}

.btn-waiting {
  cursor: wait;
  background-image: none;
  background-color: #b4b4b4;
}

textarea {
  display: block;
  padding: 20px;
  font-size: 20px;
  border: 1px solid #707070;
  border-radius: 30px;
  outline: none;
  resize: none;
}

textarea:focus {
  box-shadow: 0 0 3pt 2pt #d74e93;
  outline: none;
}
</style>

<style scoped>
#container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 10% 65% 15% 10%;
  grid-template-rows: auto;
  grid-template-areas: '. content menu .';
}

#content {
  grid-area: content;
}

#menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
</style>
